{% extends 'LibraryManagement/Base.html' %}

{% block title %}
{% endblock %}

{% block body%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body col-md-8">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Login">
                    </form>
                    <br>
                    <button><a href="{% url 'register' %}">Register</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}