{% extends 'LibraryManagement/Base.html' %}



{% block title %}
    <title>Book List</title>
{% endblock %}

{% block body %}
    <h3 style = "text-align: center" class = "display-4">
        <a style = "text-decoration: none" href="{% url 'showBooks' %}"> Book List</a>
    </h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cover</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Rent</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            {% if book.user_id == request.user.id %}
            <tr>
                <td> {{ book.id }}</td>
                <td><img src = "{{ book.image.url }}" width="400px"></td>
                <td> {{ book.bookName }}</td>
                <td> {{ book.bookAuthor }}</td>
                <td> {{ book.bookGenre }}</td>

                <td>
                    {% if book.rented %}
                        <button class="btn btn-outline-primary mt-1"><a href="{% url 'issue'  book.id 1%}" class="update-icon">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </a></button>
                    {% else %}
                        <button class="btn btn-outline-success mt-1"><a href="{% url 'issue'  book.id 0%}" class="update-icon">
                            <i class="fa-solid fa-plus" style="color: forestgreen"></i>
                        </a></button>
                    {% endif %}
                </td>

                <td>
                    <button class="btn btn-outline-primary mt-1"><a href="{% url 'updateTasks' book.id %}" class="update-icon">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a></button>
                </td>

                <td>
                    <button class="btn btn-outline-danger mt-1"><a href="{% url 'delete' book.id %}" class="delete-icon text-danger">
                        <i class="fa-solid fa-x"></i>
                    </a></button>
                </td>
                </div>
            </tr>
            {% endif %}

        {% empty %}
            <h3>No items found with your search term, or there is no todo added yet.</h3>
        {% endfor %}
        </tbody>

    </table>
    <a href="{% url 'showBooks' %}" class="btn btn-success"><i class="fas fa-plus"></i> Show Books</a>
    <br>
    <br>
    <br>


{% endblock %}